body{
    transition: all 0.8s ease-in-out;
}

.button{
width: 60px;
height: 20px;
margin: auto;
margin-top: 300px;

/* 
----another approach-----

position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); */

}
.content{
    background: black;
    color: #f5b810;
    width: 79px;
    height: 40px;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    transition: all 0.8s ease-in-out;
}
.content i{
    font-size: 25px;
}
.content .fa-moon{
    padding: 8px 10px 0 0;
}
.content .fa-sun{
    padding: 8px 0 0 10px;
}
.ball{
    height: 30px;
    width: 30px;
    margin-left: 4px;
    position: absolute;
    top: 308px;
    border-radius: 50%;
    background-color: white;
    transition: all 0.5s ease-in-out;
    /* display: inline-block; */
}

/* togglers */
.color{
    background-color: rgb(22, 22, 22);
    transition: all 0.8s ease-in-out;
}
.tball{
    transform: translate(43px, 0);
}